---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/SocialIcons.astro'
import {Icon} from 'astro-icon/components'
---

<div class="border-r border-gray-300 pr-4">
  <a href="https://vyuh.tech"
     class={`font-bold text-accent-600 dark:text-accent-200 decoration-0 no-underline 
     px-2 py-0 
     border border-gray-300 dark:border-gray-700 
     hover:bg-accent-200 hover:dark:bg-accent-600 
     rounded
     inline-flex items-center`}
  target="_blank" rel="noopener">
    <span>Vyuh.tech</span>
    <Icon name="mdi:arrow-top-right" />
  </a>
</div>

<Default {...Astro.props}><slot /></Default>

